body{
    margin: 2% 16%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    cursor: pointer;
    color: darkgrey;
}

header a:hover {
    color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main h1 {
    font-size: 48px;
}

main p {
    font-size: 21px;
    color: #7D7987;
}

main main-text {
    width: 100%;
    max-width: 445px;
    height: 100%;
    max-height: 338px
}

main main-text button{
    height: 60px;
    width: 200px;
    border-radius: 55px;
    background-color: #458FF6;
    font-size: 18px;
    color: white;
    border: none;
}

main-text button{
    height: 60px;
    width: 200px;
    border-radius: 55px;
    background-color: #458ff600;
    font-size: 18px;
    color: #458ff6;
    border: 2px solid #458ff6;
}

main img {
    height: 693px;
    width: 598px;
}

.line {
    background-color: black;
    height: 2px;
    width: 56px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1133px;
    width: 100%;
    margin-bottom: 220px;
}

.cards h1{
    font-size: 36px;
    margin-bottom: 26px;
}

.cards > p {
    font-size: 18px;
    color: #7D7987;
    margin-bottom: 80px;
}

.cards .line {
    margin-bottom: 33px;
}

.cards button {
    height: 60px;
    width: 200px;
    border-radius: 55px;
    background-color: #458ff600;
    font-size: 18px;
    color: #458ff6;
    border: 2px solid #458ff6;
    margin-top: 32px;
}

.cards-up{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-down {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    height: 350px;
    width: 354px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    margin-right: 34px;
    margin-bottom: 37px;
}

.card img {
    width: 90px;
    height: 90px;
}

.card h2 {
    color: black;
}

.card p {
    color: darkgrey;;
}

.leading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 220px;
}

.leading img {
    width: 650px;
    height: 477px;
}

.leading main-text {
    width: 100%;
    max-width: 486px;
    height: 100%;
    max-height: 388px;
}

.leading h1 {
    font-size: 36px;
}

.leading p {
    font-size: 18px;
    color: #7D7987;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 251px;
}

.mobile h1 {
    font-size: 36px;
}

.mobile p {
    font-size: 18px;
    color: #7D7987;
}

.mobile img {
    width: 665px;
    height: 434px;
}

.mobile main-text {
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 375px;
}

.card-avaliation {
    height: 425px;
    width: 1120;
    background-color: #67C3F3;
    border-radius: 24px;
    color: white;
}

.services h1 {
    font-size: 36px;
    margin-bottom: 26px;
}

.services .line {
    margin-bottom: 74px;
}

.services button {
    height: 60px;
    width: 200px;
    border-radius: 55px;
    background-color: #458ff600;
    font-size: 18px;
    color: #458ff6;
    border: 2px solid #458ff6;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-services {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card-service {
    width: 350px;
    height: 512px;
    border-radius: 20px;
}

.card-service img {
    width: 350px;
    height: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-service h2 {
    color: black;
    font-size: 21px;
}

.card-service p {
    color: #7D7987;
    font-size: 16px;
}

.card-service a {
    text-decoration: none;
    color: #4089ED;
    font-size: 17px;
}