body{
    margin: 2% 16%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main {
    display: flex;
    align-items: center;
}

main-text button{
    height: 60px;
    width: 200px;
    border-radius: 55px;
    background-color: #458FF6;
    font-size: 18px;
    color: white;
    border: none;
}

main img {
    height: 693px;
    width: 598px;
}

.cards-up{
    display: flex;
}

.cards-down {
    display: flex;
}

.card {
    height: 350px;
    width: 354px;
    background-color: rgb(189, 189, 189);
    color: white;
    border-radius: 20px;
}

.card img {
    width: 90px;
    height: 90px;
}

.leading {
    display: flex;
}

.mobile {
    display: flex;
}

.card-avaliation {
    height: 425px;
    width: 1120;
    background-color: #67C3F3;
    border-radius: 24px;
    color: white;
}